@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$color: #e7e8f1;
$font-primary: 'latoregular', sans-serif;

body {
  background: $color url('../img/bg.png');  // image from www.subtlepatterns.com
  height: 100vh;
}

p {
  font-family: $font-primary;
  color: $color;
}

.btn {
  transform: translate3d(5px, 0, 0);
}

.fas {
  color: #e7e8f1;
}
